@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a; /* Dark background */
  --foreground: #f5f5f5; /* Light foreground */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}
